<div class="row">
  <div class="col-lg-8">
    <app-table-semesters
      [semesters]="semesters"
      (clickTable)="onClickTable($event)"
    ></app-table-semesters>
  </div>
  <div class="col-lg-4">
    <div class="card">
      <div class="card-header">
        {{ title }}
      </div>
      <div class="card-body">
        <form action="">
          <div class="form-label">Name</div>
          <input
            id="name"
            type="text"
            class="form-control"
            placeholder="Typing..."
            [(ngModel)]="semester.name"
            [ngModelOptions]="{ standalone: true }"
          />
        </form>
      </div>
      <div class="card-footer">
        <div class="d-flex gap-2 mt-2">
          <div class="btn btn-secondary" (click)="onReset()">Reset</div>

          <div *ngIf="semester.id == -1; else edit">
            <button class="btn btn-success" (click)="onAdd()">Add</button>
          </div>
          <ng-template #edit>
            <div class="d-flex gap-2">
              <button class="btn btn-info" (click)="onUpdate()">Edit</button>
              <button class="btn btn-danger" (click)="onDelete()">
                Delete
              </button>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
